<!DOCTYPE html>
<html lang="en">
  <!-- Basic -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Metas -->

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!--Favicon-->
    <link rel="icon" href="./images/logo_2.jpg" type="image/x-icon" />

    <title>Bulalohan sa Riyadh</title>

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="./vendor/Hover-master/css/hover-min.css">
    <link rel="stylesheet" href="css/image_slide.css" />

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-expand-lg nabar-theme py-0 fixed-top shadow">
          <div class="container">
            <a class="navbar-brand" href="./index.html">
              <img class="img-fluid logo" src="./images/logo_3.png" alt="Bulalohan"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto my-2 mb-lg-0">
                <li class="nav-item">
                  <a class="btn btn-link text-black mx-2 btn-lg" href="./index.html" type="submit">Home</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-link text-black mx-2 btn-lg" href="./menu.html" type="submit">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link text-black mx-2 btn-lg" href="./events.html" type="submit">Events</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-link text-black mx-2 btn-lg" href="#bookTable" type="submit">Book Now</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header> 
      <main class="pt-5" style="background-color: #edc9b540;">
        <div class="row justify-content-center px-0 px-md-5 mt-3">
          <img style="height: 50vh; width:100%;" src="./images/Event_Live_Laugh_Love.png" class="rounded-2 img-fluid border-0 shadow px-0" alt="Bulalohan in Riyadh Live... Laugh... Love...">
        </div>
        <div class="p-5">
            <h1 class="pb-2 pt-3 display-4 text-description-color text-center">Our Special Events</h1>
            <div class="row justify-content-start mt-3">
              <div class="col-12 col-md-3">
                <img src="./images/Event_Showtime.png" class="img-fluid border-0 rounded-3 shadow" alt="Showtime Live">
                <div class="text-center">
                    <h2 class="text-description-color mt-3 pb-0">Showtime</h2> 
                    <p class="mb-2">Wednesday Night 8:00 P.M.</p>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <img src="./images/Event_Dynamix_Band.png" class="img-fluid border-0 rounded-3 shadow" alt="Dynamix Band">
                <div class="text-center">
                    <h2 class="text-description-color mt-3 pb-0">Dynamix Band</h2> 
                    <p class="mb-2">Thursday Night 8:00 P.M.</p>
                </div>
            </div>
              <div class="col-12 col-md-3">
                <img src="./images/Event_Ganda_Gabi_Dave.png" class="img-fluid border-0 rounded-3 shadow" alt="Ganda Gabi ">
                <div class="text-center">
                    <h2 class="text-description-color mt-3 pb-0">Ganda Gabi Dave</h2> 
                    <p class="mb-2">Friday Night 8:00 P.M.</p>
                </div>
            </div>
              <div class="col-12 col-md-3">
                <img src="./images/Event_Acoustic.png" class="img-fluid border-0 rounded-3 shadow" alt="Acoustic Night">
                <div class="text-center">
                    <h2 class="text-description-color mt-3 pb-0">Acoustic Night</h2> 
                    <p class="mb-2">Saturday Night 8:00 P.M.</p>
                </div>
            </div>
            </div>
        </div>
      </main>
      <section href="#bookTable" id="bookTable" class="contact">
        <div class="container pt-1 pb-5">
          <div class="section-title mt-5">
              <h1 class="text-description-color display-4">Book A Table</h1>
              <p>Dine in with your Friends and Family.</p>
          </div>
          <div class="row">
            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="form-group col-md-4">
                        <label for="name">Your Name</label>
                        <input type="text" v-model="name" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-4 mt-3 mt-md-0">
                      <label for="name">Email Address</label>
                      <input type="email" v-model="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="name">Phone</label>
                      <input type="text" v-model="phone_number" class="form-control" name="phone" id="phone_number" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-4 mt-3 mt-md-0">
                      <label>Date</label>
                      <input type="date" v-model="date" class="form-control" name="date" id="date" required>
                    </div>
                    <div class="form-group col-md-4 mt-3 mt-md-0">
                      <label>Time</label>
                      <input type="time" v-model="time" class="form-control" name="time" id="time" required>
                    </div>
                    <div class="form-group col-md-4 mt-3 mt-md-0">
                      <label>No of People</label>
                      <input type="number" v-model="number_of_guests" class="form-control" name="person" id="number_of_guests" required>
                    </div>
                    <div class="form-group mt-3">
                      <label>Message</label>
                      <textarea v-model="message" class="form-control" name="message" rows="5" required></textarea>
                    </div>
                    <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                  </div>
                  <div class="text-center pt-3">
                    <button type="button" class="btn theme-button" v-on:click="sendBooking">Book Table</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <footer class="text-center text-white mt-5 bg-color-theme">
        <div class="container">
          <div  class="text-center text-white p-3">
            Powered By :<a class="text-white">Yaramay</a>
          </div>
        </div>
    </footer>
  </div>
    

  <a href="#" id="back-to-top" title="Back to top" style="display: none">&uarr;</a>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- ALL JS FILES -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"
  ></script>
  <!-- ALL PLUGINS -->
  <script src="js/jquery.superslides.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="js/images-loded.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/baguetteBox.min.js"></script>
  <!-- <script src="js/form-validator.min.js"></script> -->
  <!-- <script src="js/contact-form-script.js"></script> -->

  <script src="./js/custom.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();

    let places = document.querySelectorAll(".place-list li");
    let active = "/assets/img/mayon/mayon-1.webp";

    places.forEach((e) => {
      e.addEventListener("mouseenter", (event) => {
        places.forEach((e) => {
          e.classList.remove("active");
        });

        event.target.classList.add("active");
        active = event.target.getAttribute("data-img");
        let banner = document.querySelector(".banner");
        banner.style.backgroundImage = `url('${active}')`;
      });
    });
  </script>
  <script>
      const { createApp } = Vue
      createApp({
        data() {
          return {
            name: "",
            email: "",
            phone_number: "",
            date: "",
            time: "",
            number_of_guests: "",
            message: "",
            name_contact: "",
            email_contact: "",
            subject_contact: "",
            message_contact: ""
          }
        },
        methods: {
          sendBooking() {
            var $this = this;
            $.ajax({
            url: "https://yaramay.com/api/bulaluhan/book",
            method: "POST", 
            data: { 
              name: this.name,
              email: this.email,
              phone_number: this.phone_number,
              date: this.date,
              time: this.time,
              number_of_guests: this.number_of_guests,
              message: this.message
            }
          }).done(function() {
            $this.name = "";
            $this.email = "";
            $this.phone_number = "";
            $this.date = "";
            $this.time = "";
            $this.number_of_guests = "";
            $this.message = "";
            alert( "success" );
          });
          },
          sendContact() {
            var $this = this;
            $.ajax({
            url: "https://yaramay.com/api/bulaluhan/contact",
            method: "POST", 
            data: { 
              name: this.name_contact,
              email: this.email_contact,
              subject: this.subject_contact,
              message: this.message_contact
            }
          })
          .done(function() {
          $this.name_contact = "";
          $this.email_contact = "";
          $this.subject_contact = "";
          $this.message_contact = "";
          alert( "success" );
        });
          }
        },
        mounted() {
          
        }
      }).mount('#app')
  </script>
  <script>
    const navEl = document.querySelector('.navbar');
    const navTxtScroll = document.querySelector('.btn-link');
    const navTxtNotScroll = document.querySelector('.btn-link');

    window.addEventListener('scroll', () => {
      if (window.scrollY >= 56) {
        navEl.classList.add('navbar-scrolled');
       // navTxtNotScroll.classList.remove('text-white');
       // navTxtScroll.classList.add('text-black');
      } else if (window.scrollY < 56) {
        navEl.classList.remove('navbar-scrolled');
        //navTxtNotScroll.classList.add('text-white');
        //navTxtEl.classList.remove('text-black');
      }
    });
  </script>
</body>
</html>
